body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

.container {
    width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 5px 0 15px rgba(0, 1, 1, 0.2);
}

a {
    text-decoration: none;
}

.header-logo {
    width: 138px;
    height: 70px;
}

.main-navigation {
    background-color: #ffffff;
}

.site-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.site-navigation .site-navigation-current {
    color: #766357;
}

.promo {
    width: 1200px;
    height: 508px;
    margin-bottom: 60px;

    background-image: url("/img/intro.jpg");
    background-position: 0 -56px;
    background-repeat: no-repeat;
    
}

h1 {
    margin: 0;
    margin-bottom: 35px;

    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.advantages {
    margin-bottom: 55px;
}

.advantages .sentence {
    margin: 0;
    margin-bottom: 50px;

    color: #333333;
    text-align: center;
} 

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.advantages-item {
    order: 2;

    line-height: 21px;
    color: #333333;
    text-align: center;
}

.advantages-item:first-child {
    order: 0;
}

.advantages-item h3{
    font-size: 21px;
    color: #000000;
}

.advantages-item-blue {
    display: flex;
}

.advantages-item-blue img {
    width: 800px;
    height: 256px;
}

.advantages-item-blue div {
    width: 400px;
}

.advantages-item-blue div,
.advantages-item-blue h3{
    color: #ffffff;

    background-color: #81b3d2;
}

.advantages-item-grey {
    width: 400px;

    background-color: #eeeeee;
}
.more-advantages {
    order: 1;
}

.more-advantages ul{
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.more-advantages .advantages-item {
    width: 400px;
}

.booking {
    text-align: center;
}

.booking h2 {
    margin: 0;

    font-size: 30px;
    line-height: 24px;
}

.booking p {
    color: #333333;
    line-height: 24px;
}

.seach-button {
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;

    background-color: #766357;
}

.seach-button:hover,
.seach-button:focus {
    background-color: #604e43;
}

.seach-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.filters {    
    padding: 25px 75px;
    margin-bottom: 30px;

    background-color: #505a62;
    background-position: top center;
    background-image: url("/img/filter-background.jpg");
    background-repeat: no-repeat;
}

.filter {
    display: flex;
}

.filter fieldset {
    border: none;
}

.filter .checkbox-column {
    width: 240px;
}

.filter .price-column {
    width: 320px;
    margin-left: auto;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
    line-height: 21px;
    color: #ffffff;
}

.filter input[type = "text"] {

    color: #ffffff;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;

    background-color: transparent;
    border: 2px solid #ffffff;
}

.filter-button {
    font: inherit;
    color: #ffffff;
    line-height: 21px;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #ffffff;
}

.catalog {
    padding: 0 75px;
}

.sort-column {
    display: flex;

    font-size: 12px;
    line-height: 18px;
}

.catalog .sort-amount {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.catalog .sort-increment {
    margin-left: auto;
}

.sort-column ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-item a {
    color: rgba(0, 0, 0, 0.3);

    border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover,
.sort-item a:focus {
    color: #81b3d2;
}

.sort-item a:active {
    color: #000000;

    border: none;
}

.sort-item .sort-item-current {
    color: #81b3d2;

    border: none;
}

.catalog-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item {
    display: flex;
    padding: 30px 0;
}

.catalog-item h3 {
    margin: 0;

    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.catalog-item img {
    width: 135px;
    height: 90px;
    margin-right: 30px;
}

.catalog-item .rating-column {
    margin-left: auto;
}

.catalog-item p {
    margin: 0;
}

.catalog-item span {
    line-height: 21px;
    color: #333333;
}

.catalog-item .rating {
    color: #666666;

    background-color: #f2f2f2;
}

.catalog-button {
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.catalog-item .detail {
    background-color: #81b3d2;
}

.catalog-item .catalog-booking {
    background-color: #766357;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 75px;

    opacity: 0.9;
}

.main-footer .hashtag {
    width: 240px;
    margin: 0;

    font-size: 21px;
    font-weight: 700;
}

.footer-social {
    width: 155px;
}

.hashtag,
.footer-social,
.footer-copyright {
    text-align: center;
}

.footer-social ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-button {
    color: #ffffff;

    background-color: #81b3d2;
}

.footer-copyright {
    width: 240px;
    margin: 0;
}

.footer-copyright a {
    color: #333333;
}

.modal {
    font-weight: 700;
}

.booking-form input {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.booking-form input:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.booking-form input:focus {
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
}

.booking-form .booking-button {
    font: inherit;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #81b3d2;
    border: none;
}

.booking-form .booking-button:hover,
.booking-form .booking-button:focus {
    background-color: #669ec0;
}

.booking-form .booking-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}
