body {
    margin: 0;
    padding: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

h1 {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.advantages .sentence {
    color: #333333;
    text-align: center;
} 

.advantages-list {
    list-style: none;
}

.advantages-item {
    text-align: center;
}

.advantages-item {
    line-height: 21px;
    color: #333333;
}

.advantages-item h3{
    font-size: 21px;
    color: #000000;
}

.advantages-item-blue div,
.advantages-item-blue h3{
    color: #ffffff;

    background-color: #81b3d2;
}

.advantages-item-grey {
    background-color: #eeeeee;
}

.more-advantages {
    list-style: none;
}

.booking {
    text-align: center;
}

.booking h2 {
    font-size: 30px;
    line-height: 24px;
}

.booking p {
    color: #333333;
    line-height: 24px;
}

.seach-button {
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    vertical-align: middle;

    background-color: #766357;
}

.seach-button:hover,
.seach-button:focus {
    background-color: #604e43;
}

.seach-button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.filter {
    background-color: #505a62;
    background-position: top center;
    background-image: url("/img/filter-background.jpg");
    background-repeat: no-repeat;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.filter ul {
    list-style: none;
    line-height: 21px;
    color: #ffffff;
}

.filter input[type = "text"] {
    color: #ffffff;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;

    background-color: transparent;
    border: 2px solid #ffffff;
}

.filter-button {
    font: inherit;
    color: #ffffff;
    line-height: 21px;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid #ffffff;
}

.sort {
    font-size: 12px;
    line-height: 18px;
}

.catalog .sort-amount {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sort ul {
    list-style: none;
}

.sort-item a {
    color: #000000;

    border-bottom: 1px dotted #81b3d2;            
    opacity: 0.3;
}

.sort-item a:hover,
.sort-item a:focus {
    color: #81b3d2;

    opacity: 1;
}

.sort-item a:active {
    color: #000000;

    border: none;
    opacity: 1;
}

.sort-item .sort-item-current {
    color: #81b3d2;

    border: none;
    opacity: 1;
}

.catalog-list {
    list-style: none;
}

.catalog-item h3 {
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.catalog-item span {
    line-height: 21px;
    color: #333333;
}

.catalog-item .rating {
    color: #666666;

    background-color: #f2f2f2;
}

.catalog-button {
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.catalog-item .detail {
    background-color: #81b3d2;
}

.catalog-item .catalog-booking {
    background-color: #766357;
}

.main-footer {
    opacity: 0.9;
}

.main-footer .hashtag {
    font-size: 21px;
    font-weight: 700;
}

.hashtag,
.footer-social,
.footer-copyright {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;

    background-color: #81b3d2;
}

.footer-copyright a {
    color: #333333;
}

.modal {
    font-weight: 700;
}

.booking-form input {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.booking-form input:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.booking-form input:focus {
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
}

.booking-form .booking-button {
    font: inherit;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #81b3d2;
    border: none;
}

.booking-form .booking-button:hover,
.booking-form .booking-button:focus {
    background-color: #669ec0;
}

.booking-form .booking-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}
